.menu {
    @include flex-all-center;
    gap: rem(60);

    @include laptop {
        @include adaptive("gap", 60, 16, 1);
    }

    &__link {
        position: relative;
        z-index: 3;
        cursor: pointer;
        &--sub {
            padding-right: rem(16);
            background-image: url(../img/nav-arrow.svg);
            background-repeat: no-repeat;
            background-position: right top rem(16);
            position: relative;

            &::before,
            &::after {
                content: "";
                position: absolute;
                left: 52px;
                border: 13px solid transparent;
                opacity: 0;
                visibility: hidden;
            }
            &.show {
                text-decoration: line-through;

                &::before,
                &::after {
                    animation: show-menu 0.2s linear;
                    opacity: 1;
                    visibility: visible;
                    bottom: -20px;
                    border-bottom: 15px solid var(--color-gray-2);
                }
                &::after {
                    border-top: 10px solid white;
                    bottom: -19px;
                }
            }
        }

        &:hover {
            @include nav-heading-hover;
        }
    }

    &__sub {
        position: absolute;
        z-index: 0;
        width: 100%;
        top: rem(60);
        left: 0;
    }
}
